.book-card {
  display: flex;
  max-width: 600px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  align-items: stretch;
  background-color: burlywood;

  .book-card__hero {
    flex: 0 0 45%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-right: 5px;

    & img {
      display: block;
      width: 160px;
      height: 100%;
    }
  }

  .book-card__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 30px;

  }

}


