.book-card {
  display: flex;
  max-width: 600px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  align-items: stretch;
  background-color: burlywood;
  cursor: pointer;

  .book-card__hero {
    flex: 0 0 45%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-right: 5px;

    & img {
      display: block;
      width: 160px;
      height: 100%;
    }
  }

  .book-card__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px 30px;

    .book-card__title {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      align-items: flex-start;
    }

    .book-card__description {
      font-size: 12px;
      line-height: 14px;
    }

    .book-card__details {
      display: flex;
      margin-top: auto;
      span {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 700;
      }
    }
  }
}

.book-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
