.books-component-main{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;


  .book-selected {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
  }

  .books-list {
    width: 50%;
    background-color: #cfc;
    padding: 26px;
    height: 100%;
    overflow-y: auto;
  }

}
